# URL da API em produção (com /api no final)
VITE_API_URL=https://dondoka-api.onrender.com/api

# WhatsApp da loja: DDI+DDD+número
VITE_WHATSAPP=5511949316452

# Instagram
VITE_INSTAGRAM=https://www.instagram.com/dondokaboutique.tobias/
